body {
/*  background-image: url("background1.jpg");
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto; */
  
  color: white;
  background-color: #000;
  font-family: 'Lora', serif; 
  opacity: 1 ;
}

.outer-fireplace {
  zoom: .5;
}

.fireplace {
  background-image: url("fire.gif");
  background-repeat:no-repeat;
  background-position: 50% 92%;
  background-size: 67%;
  /*padding:23px 14px 60px;*/
}

.top-buffer { 
	margin-top:40px; 
}

.jumbotron {
  background: rgb(51, 51, 0); /* This is for ie8 and below */
  background: rgba(51, 20, 0, .60); 
  margin-top: 45px;
}

.main-title h1 {
  font-family: 'Mountains of Christmas', cursive;
}

.formal-letter p {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  line-height: 38px;
}

.main-title h5, h4 {
  font-family: 'Lora', serif;
}

.option {
   font-family: 'Lora', serif;
   font-size: 150%
 }

 .option-title {
   font-family: 'Lora', serif;
   font-size: 150%
 }


 .form-group h4 {
  font-family: 'Lora', serif !important; 
 }

/*.input-group-addon {
  color: #fff;
  background-color: #43ac6a;
  border-color:  #43ac6a;
}*/

.input-group-addon {
  color: #fff;
  background-color: rgb(31, 111, 21);
  border-color: rgb(31, 111, 21);
}

.btn-success {
  color: #ffffff;
  background-color: rgb(31, 111, 21);
  border-color: rgb(31, 111, 21);
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.response-yes h3, .response-no h3 {
  font-family: 'Lora', serif; 
}

.slideshow .jumbotron {
   background: rgb(0, 0, 0);  This is for ie8 and below 
   background: rgba(0, 51, 0, 0); 

}

.slideshow .jumbotron .img-responsive { 
  max-height: 750px;
}

.img-rounded {  
  border-radius: 20px;  
}  

#hidden-body {
  zoom: 90%;
  background-image: url("background1.jpg");
  background-size: cover);
  background-repeat: repeat-y;
  background-position: center center;
}

.img-responsive {
    margin: auto;
}

.spacer {
  height: 10px;
}

/*@media (min-width: 768px) {
.container {
  width: auto;
}*/

.main-form {
  zoom: .91;
}