body {
/*  background-image: url("background1.jpg");
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto; */
  
  color: white;
  background-color: #000;
  font-family: 'Lora', serif; 
  opacity: 1 ;
}


.top-buffer { 
	margin-top:40px; 
}

.jumbotron {
   background: rgb(0, 51, 0); /* This is for ie8 and below */
   background: rgba(0, 51, 0, .75); 
   margin-top: 45px;
}

.main-title h1 {
  font-family: 'Mountains of Christmas', cursive;
}

.main-title h5, h4 {
  font-family: 'Lora', serif;
}

.option {
   font-family: 'Lora', serif;
   font-size: 150%
 }

 .option-title {
   font-family: 'Lora', serif;
   font-size: 150%
 }


 .form-group h4 {
  font-family: 'Lora', serif !important; 
 }

.input-group-addon {
  color: #fff;
  background-color: #43ac6a;
  border-color:  #43ac6a;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.response-yes h3, .response-no h3 {
  font-family: 'Lora', serif; 
}

.slideshow .jumbotron {
/*   background: rgb(0, 0, 0);  This is for ie8 and below 
   background: rgba(0, 51, 0, 0); */

}

.slideshow .jumbotron .img-responsive { 
  max-height: 750px;
}

.img-rounded {  
  border-radius: 20px;  
}  

