body {
    background-image: url("background1.jpg");
    -webkit-background-size: auto;
		-moz-background-size: auto;
		-o-background-size: auto;
		background-size: auto; 
    background-color: #000;
    color: white;

}

.top-buffer { 
	margin-top:40px; 
}

.jumbotron {
   background: rgb(0, 51, 0); /* This is for ie8 and below */
   background: rgba(0, 51, 0, .75); 
}

h1 {
  font-size: 24px;
}